<div *ngIf="isLoading" class="loading-state">
  <h3>Loading catalog...</h3>
</div>

<div *ngIf="!isLoading">

  <div class="filter-container">
    <button [class.active]="selectedCategory === 'All'" (click)="filterByCategory('All')">All</button>
    <button *ngFor="let cat of categories" [class.active]="selectedCategory === cat.name"
      (click)="filterByCategory(cat.name)">
      {{ cat.name }}
    </button>
  </div>

  <div *ngIf="filteredProducts.length === 0" class="empty-state">
    <h3>No products found!</h3>
  </div>

  <div class="product-grid" *ngIf="filteredProducts.length > 0">
    <mat-card class="product-card" *ngFor="let product of filteredProducts">
      <img mat-card-image [src]="product.mediaIds[0] || 'assets/product.jpeg'" [alt]="product.name">
      <mat-card-content>
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="['/products', product.id]">
          VIEW DETAILS
        </button> </mat-card-actions>
    </mat-card>
  </div>
</div>